body{
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
}

.top{
	background: #008CBC;
	height: 3.5rem;
	width: 100%;
}

.onebox{
	height: 35px;
	width: 35px;
	background: white;
	box-sizing: border-box;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.twobox{
	height: 35px;
	width: 118px;
	box-sizing: border-box;
	float: left;
	margin-left: 15px;
	margin-top: 17px;
	margin-bottom: 5px;
}

.word1{
	box-sizing: content-box;
	color: white;
	font-size: 20px;
	float: left; 
}

.word2{
	color: #9BC3D5;
	font-size: 20px; 
}

.threebox{
	height: 3.5rem;
	width: 100px;
	background: #0071A0;
	float: right;
	text-align: center;
	line-height: 3.5rem;
}

.word3{
	color: white;
	font-size: 16px; 
}

.bigbox{
	height: 70rem;
	background: #334050;
}

.text1{
	font-weight: bold;
	color: white;
	text-align: center;
	font-size: xx-large;
	padding: 15% 10px 0px 10px;
}

.text2{
	font-weight: bold;
	color: white;
	text-align: center; 
	float: center;
	padding-bottom: 30px;
}

.box1{
	height: 72px;
	width: 225px;
	background: #038DBA;
	border-style: solid;
	border-width: 10px;
	border-color: #212933;
	margin: auto;
}

.word4{
	color: white;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
    padding-top: 8%;
}

.small{
	height: 20px;
	background: white;
	margin: auto;
	width: 50px;
	margin-top: 210px;
}

.box2{
	height: 6%;
	width: 18.75rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.imgbox{
	background: white;
	width: 47px;
	height: 57px;
	float: left;
	margin: 0px 10px 15px 10px;
}

.feature-heading{
	color: white;
	font-weight: normal;
	font-size: 21px;
	white-space: nowrap;
}

.feature-subtitle{
	color: #D5D6D7;
	font-weight: lighter;
	font-size: 22px;
}

.seven{
	background: #C6D2D7;
	height: 62px;
	width: 62px;
	margin: auto;
}

.eight{
	background: white;
	height: 24px;
	width: 605px;
	margin: 25px auto;
	text-align: center;
}

.eight > .feature-heading{
	color: #40637C;
}

.nine > .feature-subtitle{
	color: #4B4B4C;
	line-height: 1.5;
}

.nine{
	background: white;
	height: 60px;
	width: 605px;
	margin: 25px auto;
	text-align: center;
}

.ten{
	background: #C6D2D7;
	height: 62px;
	width: 62px;
	margin: auto;
}

.eleven{
	background: white;
	height: 24px;
	width: 605px;
	margin: 25px auto;
	text-align: center;
}

.eleven > .feature-heading{
	color: #40637C;
}

.twelve{
	background: white;
	height: 60px;
	width: 605px;
	margin: 25px auto;
	text-align: center;
}

.twelve > .feature-subtitle{
	color: #4B4B4C;
}

.thirteen{
	background: #C6D2D7;
	height: 62px;
	width: 62px;
	margin: auto;
}

.fourteen{
	background: white;
	height: 24px;
	width: 605px;
	margin: 25px auto;
	text-align: center;
}

.fourteen > .feature-heading{
	color: #40637C;
}

.fifteen{
	background: white;
	height: 60px;
	width: 605px;
	margin: 25px auto;
	text-align: center;
}

.fifteen > .feature-subtitle{
	color: #4B4B4C;
}

.sixteen{
	background: #C6D2D7;
	height: 62px;
	width: 62px;
	margin: auto;
}

.seventeen{
	background: white;
	height: 24px;
	width: 605px;
	margin: 25px auto;
	text-align: center;
}

.seventeen > .feature-heading{
	color: #40637C;
}

.eighteen{
	background: white;
	height: 60px;
	width: 605px;
	margin: 25px auto;
	text-align: center;
}

.eighteen > .feature-subtitle{
	color: #4B4B4C;
}

.nineteen{
	background: #C6D2D7;
	height: 62px;
	width: 62px;
	margin: auto;
}

.twenty{
	background: white;
	height: 24px;
	width: 605px;
	margin: 25px auto;
	text-align: center;
}

.twenty > .feature-heading{
	color: #40637C;
}

.twenty-one{
	background: white;
	height: 60px;
	width: 605px;
	margin: 25px auto;
	text-align: center;
}

.twenty-one > .feature-subtitle{
	color: #4B4B4C;
}

.twenty-two{
	background: #C6D2D7;
	height: 62px;
	width: 62px;
	margin: auto;
}

.twenty-three{
	background: white;
	height: 24px;
	width: 605px;
	margin: 25px auto;
	text-align: center;
}

.twenty-three > .feature-heading{
	color: #40637C;
}

.twenty-four{
	background: white;
	height: 60px;
	width: 605px;
	margin: 25px auto;
	text-align: center;
}

.twenty-four > .feature-subtitle{
	color: #4B4B4C;
}

.inner-box-1 > .feature-subtitle{
	font-size: 24px;
}

.otherbox{
	margin-top: 135px;
}

.box3{
	height: 190px;
	width: 100%;
	background: #E8F0F4;
}

.text9{
	color: #424154;
	display: inline;
	font-size: 33px;
	font-weight: lighter;
	text-align: center;
	float: left;
	padding-top: 18px;
}

.box4{
	height: 1685px;
	background: #D1D3D7;
	padding-top: 30px;
	padding-left: 10px;
	padding-right: 10px;
}

.inner-box-1{
	height: 240px;
	background: white;
	margin: 15px auto 20px auto;
	padding-top: 15px;
}

.box5{
	height: 200px;
	background: #E8F0F4;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

.box5 > .subtitle2{
	color: #4B4B4C;
	font-size: 32px;
	font-weight: lighter;
	margin: auto;
}

.inner-box-2{
	height: 50px;
	width: 205px;
	background: #038DBA;
	margin: auto;
}

.box6{
	box-sizing: border-box;
	background: black;
	padding: 25px 35px 25px 35px;
	text-align: center;
	color: white;
	line-height: 2;
}

.box6 a{
	color: white;
	font-size: 14px;
	text-decoration: none;
	margin: 15px;
}

.white{
	background: white;
	height: 25px;
	width: 130px;
	margin: auto;
}