body{
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
}

.top{
	background: #008CBC;
	height: 3.5rem;
	width: 100%;
}

.onebox{
	height: 35px;
	width: 35px;
	background: white;
	box-sizing: border-box;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.twobox{
	height: 35px;
	width: 118px;
	box-sizing: border-box;
	float: left;
	margin-left: 15px;
	margin-top: 17px;
	margin-bottom: 5px;
}

.word1{
	box-sizing: content-box;
	color: white;
	font-size: 20px;
	float: left; 
}

.word2{
	color: #9BC3D5;
	font-size: 20px; 
}

.threebox{
	height: 3.5rem;
	width: 100px;
	background: #0071A0;
	float: right;
}

.word3{
	color: white;
	font-size: 16px; 
	text-align: center;
}

.bigbox{
	height: 70rem;
	background: #334050;
}

.text1{
	font-weight: bold;
	color: white;
	text-align: center;
	font-size: xx-large;
	padding: 15% 10px 0px 10px;
}

.text2{
	font-weight: bold;
	color: white;
	text-align: center; 
	float: center;
	padding-bottom: 30px;
}

.box1{
	height: 72px;
	width: 225px;
	background: #038DBA;
	border-style: solid;
	border-width: 10px;
	border-color: #212933;
	margin: auto;
}

.word4{
	color: white;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
    padding-top: 8%;
}

.small{
	height: 20px;
	background: white;
	margin: auto;
	width: 50px;
	margin-top: 210px;
}

.box2{
	height: 6%;
	width: 60px;
	background: white;
	margin-left: 20%;
	margin-right: auto;
	margin-bottom: 20px;
}

.text3{
	color: white;
	font-weight: normal;
	font-size: 21px;
	margin-left: 128%;
	white-space: nowrap;
}

.text4{
	color: #D5D6D7;
	font-weight: lighter;
	font-size: 18px;
	margin-left: 128%;
	white-space: nowrap;
}

.text5{
	color: white;
	font-weight: normal;
	font-size: 21px;
	margin-left: 128%;
	white-space: nowrap;
}

.text6{
	color: #D5D6D7;
	font-weight: lighter;
	font-size: 18px;
	margin-left: 128%;
	white-space: nowrap;
}

.text7{
	color: white;
	font-weight: normal;
	font-size: 21px;
	margin-left: 128%;
	white-space: nowrap;
}

.text8{
	color: #D5D6D7;
	font-weight: lighter;
	font-size: 18px;
	margin-left: 128%;
	white-space: nowrap;
}

.seven{
	position: relative;
	background: #C6D2D7;
	height: 25%;
	width: 5%;
	top: 10%;
	left: 45%;
	margin: 0;
}

.eight{
	position: relative;
	background: #C6D2D7;
	height: 10%;
	width: 95%;
	top: 17%;
	left: 2.5%;
	margin: 0;
}

.nine{
	position: relative;
	background: #C6D2D7;
	height: 20%;
	width: 95%;
	top: 24%;
	left: 2.5%;
	margin: 0;
}

.ten{
	position: relative;
	background: #C6D2D7;
	height: 25%;
	width: 5%;
	top: 10%;
	left: 45%;
	margin: 0;
}

.eleven{
	position: relative;
	background: #C6D2D7;
	height: 10%;
	width: 95%;
	top: 17%;
	left: 2.5%;
	margin: 0;
}

.twelve{
	position: relative;
	background: #C6D2D7;
	height: 20%;
	width: 95%;
	top: 24%;
	left: 2.5%;
	margin: 0;
}

.thirteen{
	position: relative;
	background: #C6D2D7;
	height: 25%;
	width: 5%;
	top: 10%;
	left: 45%;
	margin: 0;
}

.fourteen{
	position: relative;
	background: #C6D2D7;
	height: 10%;
	width: 95%;
	top: 17%;
	left: 2.5%;
	margin: 0;
}

.fifteen{
	position: relative;
	background: #C6D2D7;
	height: 20%;
	width: 95%;
	top: 24%;
	left: 2.5%;
	margin: 0;
}

.sixteen{
	position: relative;
	background: #C6D2D7;
	height: 25%;
	width: 5%;
	top: 10%;
	left: 45%;
	margin: 0;
}

.seventeen{
	position: relative;
	background: #C6D2D7;
	height: 10%;
	width: 95%;
	top: 17%;
	left: 2.5%;
	margin: 0;
}

.eighteen{
	position: relative;
	background: #C6D2D7;
	height: 20%;
	width: 95%;
	top: 24%;
	left: 2.5%;
	margin: 0;
}

.nineteen{
	position: relative;
	background: #C6D2D7;
	height: 25%;
	width: 5%;
	top: 10%;
	left: 45%;
	margin: 0;
}

.twenty{
	position: relative;
	background: #C6D2D7;
	height: 10%;
	width: 95%;
	top: 17%;
	left: 2.5%;
	margin: 0;
}

.twenty-one{
	position: relative;
	background: #C6D2D7;
	height: 20%;
	width: 95%;
	top: 24%;
	left: 2.5%;
	margin: 0;
}

.twenty-two{
	position: relative;
	background: #C6D2D7;
	height: 25%;
	width: 5%;
	top: 10%;
	left: 45%;
	margin: 0;
}

.twenty-three{
	position: relative;
	background: #C6D2D7;
	height: 10%;
	width: 95%;
	top: 17%;
	left: 2.5%;
	margin: 0;
}

.twenty-four{
	position: relative;
	background: #C6D2D7;
	height: 20%;
	width: 95%;
	top: 24%;
	left: 2.5%;
	margin: 0;
}

.otherbox{
	margin-top: 135px;
}

.box3{
	height: 190px;
	width: 100%;
	background: #E8F0F4;
}

.text9{
	color: #424154;
	display: inline;
	font-size: 37px;
	font-weight: normal;
	white-space: normal;
	text-align: center;
}

.box4{
	height: 1605px;
	background: #D1D3D7;
	padding-top: 30px;
	padding-left: 10px;
	padding-right: 10px;
}

.inner-box-1{
	height: 240px;
	background: white;
	margin: 20px 10px 20px 10px;
}

.box5{
	height: 75px;
	background: #E8F0F4;
	padding-top: 100px;
}

.inner-box-2{
	height: 50px;
	width: 205px;
	background: #038DBA;
	margin: auto;
}

.box6{
	box-sizing: border-box;
	background: black;
	padding: 25px 35px 25px 35px;
	text-align: center;
	color: white;
	line-height: 2;
}

.box6 a{
	color: white;
	font-size: 14px;
	text-decoration: none;
	margin: 15px;
}

.white{
	background: white;
	height: 25px;
	width: 130px;
	margin: auto;
}